@model Pre_project.Models.Student

@{
    ViewBag.Title = "ChangePasswordS";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RIANRAI.COM</title>
    <!-- Bootstrap core CSS -->
    <link href="~/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/asset/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/asset/css/freelancer.css" rel="stylesheet">
</head>

<body id="page-top">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <span class="name">เปลี่ยนรหัสผ่าน</span>
                <hr class="star-light">
            </div>
        </div>
    </header>


@using (Html.BeginForm())
{
    <br />
    <br />
    <center>
        <div class="row">
            <div class="col-md-12 personal-info">
                <form class="form-horizontal" role="form">
                    <div class="form-group">

                        <div class="col-lg-8">
                            <input class="form-control" name="username_old" type="hidden" value="@Request.Cookies["C_Username"].Value">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-3 control-label">รหัสผ่านเก่า : </label>
                        <div class="col-lg-8">
                            <input class="form-control" id="password_old" name="password_old" type="password" required>
                            <p style="color:red ; font-weight:bold">@ViewBag.Error2</p>
                            <br />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">รหัสผ่านใหม่ : </label>
                        <div class="col-lg-8">
                            <input class="form-control" id="password_new" name="password_new" type="password" minlength="6" maxlength="15" title="Enter password of 6-15 charecter required">
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">ยืนยันรหัสผ่านใหม่ : </label>
                        <div class="col-lg-8">
                            <input class="form-control" id="Comfirm_new" name="Comfirm_new" type="password" minlength="6" maxlength="15">
                            <p style="color:red ; font-weight:bold">@ViewBag.Error1</p>
                            <br />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-12">
                            <button class="btn btn-success btn-lg" type="submit" value="OK">บันทึก</button>
                            <button class="btn btn-success btn-lg" onclick="location.href='@Url.Action("ProfileStudent", "Student")';">ยกเลิก</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </center>
    <br />
    <br />
}
</body>
</html>

