
@{
    ViewBag.Title = "FindTutor";
    Layout = "~/Views/Shared/_LayoutS.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RIANRAI.COM</title>
    <!-- Bootstrap core CSS -->
    <link href="~/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/asset/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/asset/css/freelancer.css" rel="stylesheet">
</head>
<body id="page-top">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <span class="name">ค้นหาติวเตอร์</span>
                <hr class="star-light">
                <span class="skills">ตามความต้องการของน้องๆ</span>
            </div>
        </div>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
            <div class="col-lg-12">
                    <div class="form-inline offset-lg-4">
                        <div class="group">
                            <select name="subject" class="form-control select first" required>
                                <option value=" ">ทุกวิชา</option>
                                <option value="คณิตศาสตร์">คณิตศาสตร์</option>
                                <option value="เคมี">เคมี</option>
                                <option value="ชีวะ">ชีวะ</option>
                                <option value="ฟิสิกส์">ฟิสิกส์</option>
                                <option value="ภาษาอังกฤษ">ภาษาอังกฤษ</option>
                                <option value="ภาษาไทย">ภาษาไทย</option>
                                <option value="สังคมศึกษาศาสตร์">สังคมศึกษาศาสตร์</option>
                                <option value="ภาษาอื่นๆ">ภาษาอื่นๆ</option>
                                <option value="อื่นๆ">อื่นๆ</option>
                            </select>
                        </div>

                        <div class="group" style="padding:0px 10px">
                            <select name="price" class="form-control select first" required>
                                <option value=" ">ทุกราคา</option>
                                <option value="100 - 300 บาท">100 - 300 บาท</option>
                                <option value="301 - 500 บาท">301 - 500 บาท</option>
                                <option value="501 - 700 บาท">501 - 700 บาท</option>
                                <option value="701 - 900 บาท">701 - 900 บาท</option>
                                <option value="901 - 1200 บาท">901 - 1200 บาท</option>
                                <option value="1201 - 1500 บาท">1201 - 1500 บาท</option>
                                <option value="มากกว่า 1500 บาท">มากกว่า 1500 บาท</option>
                            </select>
                        </div>

                        <div class="group" style="padding-right:10px" >
                            <select name="sex" class="form-control select first" required>
                                <option value=" ">ทุกเพศ</option>
                                <option value="หญิง">เพศหญิง</option>
                                <option value="ชาย">เพศชาย</option>
                            </select>
                        </div>

                        <input type="submit" class="btn btn-success btn-lg" value="ค้นหา" />
                    </div>
            </div>
    }
</body>
</html>