<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RIANRAI.COM</title>
    <!-- Bootstrap core CSS -->
    <link href="~/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/asset/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/asset/css/freelancer.css" rel="stylesheet">
</head>
<body style="background-color:#18BC9C">
    <section class="success" id="about">
        <div class="container">           
            <h2 class="text-center">Who are you?</h2>
            <hr class="star-light">
            <center>
                <h4 class="skills">กรุณาเลือกสถานะ ก่อนการลงทะเบียน</h4>
                <br />
            </center>
        </div>
        <center>
            <img src="~/Pic/tutor.png" style="height:300px; width:auto" onclick="location.href='@Url.Action("Tutor_Register", "Register")';" />
            <img src="~/Pic/student.png" style="height:300px; width:auto" onclick="location.href='@Url.Action("Student_Register", "Register")';" />
        </center>
        <center>
            <a class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Index", "Index")';">Back</a>
        </center>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="~/asset/vendor/jquery/jquery.min.js"></script>
    <script src="~/asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/asset/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="~/asset/js/jqBootstrapValidation.js"></script>
    <script src="~/asset/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/asset/js/freelancer.js"></script>
</body>
</html>
