@model Pre_project.Models.Student

@{
    ViewBag.Title = "Student_Register";
}
@using (Html.BeginForm())
{
    <head>
        <title>RIANRAI.COM</title>
    </head>
    <body style="background-color:#18BC9C">

        @Html.AntiForgeryToken()
        <link href="~/asset/NewSignUp.css" rel="stylesheet" type="text/css" />

        <div>
            <div class="broader">
                <div class="container">
                    <br />
                    <center><p class="Login-p">Student</p></center>


                    <div class="group">
                        <input type="text" name="Username" pattern="[a-zA-Z0-9]+" title="Only enter letters" />
                        <label>Username</label>
                        <p style="color:red ; font-weight:bold">@ViewBag.Message</p>
                        <p style="color:red ; font-weight:bold">@ViewBag.Message1</p>
                    </div>
                    <div class="group">
                        <input id="password" name="Password" type="password" minlength="6" pattern="[a-zA-Z0-9]+" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" required />

                        <label>Password</label>
                    </div>

                    <div class="group">
                        <input id="password_two" name="Password_two" type="password" minlength="6" pattern="[a-zA-Z0-9]+" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" required />
                        <label>Comfirmpassword</label>
                    </div>

                    <div class="group">
                        <input type="text" name="Student_name" required />
                        <label>Student_name</label>
                    </div>

                    <div class="group">
                        <input type="text" name="Student_lastname" required />
                        <label>Student_lastname</label>
                    </div>

                    <div class="group">
                        <label>Sex</label>
                        <div style="padding-top:40px">
                            <select name="Sex" required>
                                <option value="ชาย">ชาย</option>
                                <option value="หญิง">หญิง</option>
                            </select>
                        </div>
                    </div>

                    <div class="group">
                        <input type="text" name="School" required />
                        <label>School</label>
                    </div>

                    <div class="group">
                        <label>Grade</label>
                        <div style="padding-top:40px">
                            <select name="Grade" required>
                                <option value="มัธยมศึกษาปีที่ 1">มัธยมศึกษาปีที่ 1</option>
                                <option value="มัธยมศึกษาปีที่ 2">มัธยมศึกษาปีที่ 2</option>
                                <option value="มัธยมศึกษาปีที่ 3">มัธยมศึกษาปีที่ 3</option>
                                <option value="มัธยมศึกษาปีที่ 4">มัธยมศึกษาปีที่ 4</option>
                                <option value="มัธยมศึกษาปีที่ 5">มัธยมศึกษาปีที่ 5</option>
                                <option value="มัธยมศึกษาปีที่ 6">มัธยมศึกษาปีที่ 6</option>
                                <option value="ปวช 1">ปวช 1</option>
                                <option value="ปวช 2">ปวช 2</option>
                                <option value="ปวช 3">ปวช 3</option>
                                <option value="ปวส 1">ปวส 1</option>
                                <option value="ปวส 2">ปวส 2</option>
                                <option value="ปวส 3">ปวส 3</option>
                                <option value="อื่นๆ">อื่นๆ</option>
                            </select>
                        </div>
                    </div>

                    <div class="group">
                        <input type="email" name="email" required />
                        <label>E-mail</label>
                    </div>

                    <input class="Login_ok" type="submit" value="OK" />
                    <input class="Login_ok" type="button" value="Cancel" onclick="location.href='@Url.Action("Register", "Register")';" />

                </div>
            </div>
        </div>
    </body>

}
