<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RIANRAI.COM</title>
    <!-- Bootstrap core CSS -->
    <link href="~/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/asset/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/asset/css/freelancer.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Rianrai.com</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" onclick="location.href='@Url.Action("Login", "Login")';">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" onclick="location.href='@Url.Action("Register", "Register")';">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <img src="~/Pic/icon.png" />
                <span class="name">RIANRAI.COM</span>
                <hr class="star-light">
                <span class="skills">ตัวช่วยในการค้นหาคณะที่ใช่และติวเตอร์ที่เหมาะสมสำหรับน้องๆ</span>
            </div>
        </div>
    </header>
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <center>
            <h2 class="text-center">เรียนไร.com คืออะไร??</h2>
            <hr class="star-light">
        </center>
        <center>
            <p> </p>
            <p>เรียนไร.com เป็นเว็บไซต์สำหรับน้องๆที่กำลังสบสนในการเลือกคณะเข้าศึกษาต่อ โดยให้น้องๆได้พบกับคณะที่ใช่ ผ่านการทำแบบทดสอบ</p>
            <p>หรือค้นหาข้อมูลของคณะต่างๆ นอกจากนั้นยังสามารถค้นหาติวเตอร์ที่เหมาะสมกับน้องๆอีกด้วย พร้อมแล้วเข้าสู่ระบบกันเลย!!</p>
            <br />
            <a class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Login", "Login")';">LOGIN</a>
            <a class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Register", "Register")';">REGISTER</a>
        </center>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; RIANRAI.COM
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/asset/vendor/jquery/jquery.min.js"></script>
    <script src="~/asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/asset/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="~/asset/js/jqBootstrapValidation.js"></script>
    <script src="~/asset/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/asset/js/freelancer.js"></script>
</body>
</html>
