@model Tuple<Pre_project.Models.Student, Pre_project.Models.Tutor>

@using (Html.BeginForm())
{
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RIANRAI.COM</title>
    <!-- Bootstrap core CSS -->
    <link href="~/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/asset/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/asset/css/freelancer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/asset/Login/css/style.css">
</head>
<body style="background-color:#18BC9C">
    <section class="success" id="about">
        <div class="container">
            <br/>
            <br/>
            <br />
            <br />
            <h2 class="text-center">Please login to your account</h2>
            <hr class="star-light">
            <br />
            <br />
        </div>
    </section>

        <div class="module form-module">
            <div class="toggle">
            </div>
            <div class="form">
                <form>
                    <input type="text" placeholder="Username" name="username" required />
                    <input type="password" placeholder="Password" name="password" required />
                    <p style="color:red ; font-weight:bold;">@ViewBag.Message</p>
                    <button type="submit" value="OK" style="margin-bottom:20px;">Login</button>
                    <button onclick="location.href='@Url.Action("Index", "Index")';">Cancel</button>
                </form>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="~/asset/vendor/jquery/jquery.min.js"></script>
        <script src="~/asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="~/asset/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Contact Form JavaScript -->
        <script src="~/asset/js/jqBootstrapValidation.js"></script>
        <script src="~/asset/js/contact_me.js"></script>
        <!-- Custom scripts for this template -->
        <script src="~/asset/js/freelancer.js"></script>
</body>
</html>
}